body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Aumentei ainda mais a largura máxima do container */
    width: 95%;
}

h1, h2, p {
    text-align: center;
}

.section {
    margin-bottom: 50px; /* Aumentei ainda mais a margem inferior das seções */
    padding: 25px;
    border: 1px solid #c8e6c9;
    border-radius: 8px; /* Bordas mais arredondadas */
    background-color: #e8f5e9;
}

.emphasis {
    font-weight: bold;
    color: #1976d2;
}

img {
    max-width: 90%; /* Permite que as imagens ocupem ainda mais largura */
    height: auto;
    border-radius: 10px; /* Bordas mais arredondadas */
    margin: 25px auto; /* Aumentei ainda mais as margens superior e inferior */
    display: block;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra um pouco maior */
}

.image-container {
    text-align: center;
    margin-top: 30px; /* Aumentei as margens */
    margin-bottom: 30px;
}

.image-container img {
    display: inline-block;
    margin: 20px; /* Aumentei as margens entre as imagens */
    max-width: 50%; /* Permite que as imagens lado a lado sejam maiores */
    height: auto;
    border-radius: 10px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra um pouco maior */
    border: 4px solid #66bb6a; /* Borda verde mais grossa */
    padding: 10px; /* Mais preenchimento interno */
}

.text-block {
    text-align: center;
}